@import 'https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300,600|Roboto:500';

body {
	font-family: 'Work Sans', sans-serif;
	letter-spacing: 1.2px;
}

/* ----------------- Navbar -----------------*/
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  background: #D31027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #D31027 , #EA384D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #D31027 , #EA384D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.nav li:hover {
  border-bottom: 2px solid #F9F9F9;
}

.navbar .navbar-collapse {
  text-align: center;
}

.icon-bar {
  background-color: #f9f9f9;
}

/* ----------------- CTA -----------------*/
.cta {
  margin-top: 60px;
  background: #D31027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #D31027 , #EA384D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #D31027 , #EA384D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
	color: #f9f9f9;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

h1 { font-weight: 600; margin-top: 0px;}

a, a:link, a:visited {
	color: #f9f9f9;
	text-decoration: none;
}

.nav li a:focus, .nav li a:hover {
  color: #edeff2;
  background-color: transparent;
}

nav a:hover {
	color: #212121;
}

.fadeIn {
	-webkit-animation-duration: 3.5s;
}

h4 small {
  line-height: 1.5;
}

/* ----------------- Main Body -----------------*/

h2, h3, h4 {
	font-family: "Roboto";
	font-weight: "bold";
	text-transform: uppercase;
	font-size: 1.3em;
  margin-bottom: 5px;
}

p {
	font-size: 1.3em;
  text-align: left;
}

article p {
  max-width: 525px;
  margin: 0 auto;
  line-height: 1.6em;
  margin-bottom: 10px;
}

#about {
	margin: 2% auto 2% auto;
	max-width: 700px;
	padding: 15px;
	text-align: left;
	font-size: 1.1em;
}

#about > img {
	height: 175px;
	float: right;
	margin-top: 30px;
}

#about > p {
	max-width: 500px;
	margin: 0;
}

#work p a:link, #work p a:visited, #work p a:hover, #work p a:active,
#contact p a:link, #contact p a:visited, #contact p a:hover, #contact p a:active {
	color: #D31027;
	border-style: none;
}

#work, #skills {
	clear: both;
	width: 100%;
	text-align: center;
	background-color: #F3F3F3;
	padding: 2%;
  margin: 0 auto;
}

#skills {
	width: 100%;
	margin: auto;
	padding-top: 2%;
}

#skills div {
	max-width: 900px;
	margin: auto;
}

#skills div img {
	height: 100px;
	margin: 10px;
}

#experience {
	max-width: 1000px;
	margin: auto;
	padding: 20px 0px 20px 0px;
}

#experience h2 {
	text-align: center;
  margin-bottom: 15px;
}

#experience article ul li {
	line-height: 35px;
	list-style-type: circle;
	margin-left: 15px;
}

#contact {
	max-width: 600px;
	margin: 2% auto;
  padding: 17px 25px;
}

#contact a img {
	height: 35px;
	padding-right: 10px;
}

#about h2, #skills h2, #experience h2, #contact h2 {
  font-size: 1.6em;
}

.col-md-6 {
	margin-bottom: 2%;
}

.inner {
	padding-top: 20px;
}

.phone {
	max-width: 80%;
	margin-top: 2%;
}

.cards {
	max-width: 250px;
	margin-top: 2%;
}

.cards:nth-of-type(1) {
	padding-left: 10px;
}

.inner span {
	font-weight: bold;
  letter-spacing: .3em;
  color: #3c3c3c;
}

.screen {
  width: 80%;
  margin-top: 2%;
}

.quote {
	max-width: 80%;
	margin-top: 2%;
}

#skills div span {
  padding: 15px;
  line-height: 70px;
  margin: 5px;
  border-radius: 3px;
  white-space: nowrap;
}

/* ----------------- Media Queries -----------------*/

@media only screen and (min-width: 992px) and (max-width: 1099px) {
	.cards {
    width: 200px;
  }
}

@media only screen and (min-width: 551px) and (max-width: 699px) {
  	.phone, .cards, .quote {
  		width: 550px;
  	}
}

@media only screen and (max-width: 550px) {
	#about, #experience, #work {
		padding-left: 20px;
		padding-right: 20px;
	}

	.phone, .cards, .quote, .screen {
		width: 100%;
		margin-top: 3%;
	}

	#about > p {
		font-size: 1.1em;
	}
}
