@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700|Open+Sans:400,600,700');

:root {
    font-size: 16px;
    --main-text-color: #222222;
    --main-link-color: #8CABBE;
}

html,
body {
    overflow-x: hidden;
    font-family: -apple-system, 'Open Sans', 'Arial', sans-serif;

    > * { -webkit-box-sizing: border-box; box-sizing: border-box; }
    [data-show="no"] { visibility: hidden; }
    strong { font-weight: bold; }
    em { font-style: italic; }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    letter-spacing: 1px;
    font-family: -apple-system, 'Source Sans Pro', 'Arial', sans-serif;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

h1 { font-size: 3rem; }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1rem; }

.center {
    display: block;
    text-align: center; 
}

/* ------------- Navigation ------------- */
.fa.fa-bars,
.fa.fa-times {
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

nav {
    position: absolute;
    font-weight: bold;

    ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

    a {
        color: var(--main-text-color);
        text-decoration: none;
    }

    @media screen and (min-width: 768px) {
        top: 30px;
        right: 40px;

        ul {
            font-size: 20px;
            width: 270px;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

        a {
            padding-bottom: 1em 0;

            &:hover {
                border-bottom: 2px solid var(--main-text-color);
            }
        }
    }

    @media screen and (max-width: 767px) {
        background-color: rgba(250,250,250,.95);
        display: none;
        padding: .5rem 0;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 1;

        ul {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            width: 100%;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }

        a {
            display: block;
            padding: 2rem 0;
            color: var(--main-text-color);
        }
    }
}

/* ------------- Home Page Header ------------- */
.background {
    /* Photo by @henry_be via Unsplash */
    background: url("../assets/headers/homepage-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.icon {
    margin-top: 1em;
    width: 40px;
}

#header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(250,250,250,.85);
    color:var(--main-text-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 5000px;
    margin: 0 auto;
    padding: 0 3rem;
    width: 100%;

    h1 {
        letter-spacing: -2px;
        margin: 0rem 0 .5rem;
    }

    span {
        border-top: .5rem solid #50BCDB;
        padding-top: 1rem;
        -webkit-animation: fadeIn 1.5s ease-in;
                animation: fadeIn 1.5s ease-in;
        letter-spacing: 0;
    }

    @media screen and (max-width: 767px) {
        padding: 0 1rem;
    }
}

.work-overview {
    margin: 2rem 0;
}

section {
    h2,
    h3 {
        // text-transform: uppercase;
    }
}

.icon {
    max-width: 50px;
    margin-bottom: 1rem;
}

.two-grid {
    margin: 0 auto;
    max-width: 1440px;
    width: 95%;

    > div {
        padding: 1.5rem;
        max-width: 400px;
        margin: 0 auto;
    }

    @media (min-width: 767px) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        width: 75%;
    }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* ------------- Experience ------------- */
.heading {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 20%;

    div {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: rgba(250,250,250,.65);
        color:var(--main-text-color);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 300px;
        margin: 0 auto;
        padding: 0 3rem;
        width: 100%;

        @media screen and (max-width: 767px) {
            height: 200px;
            padding: 0 1rem;
        }
    }

    &.experience {
        background-image: url("../assets/headers/experience-header.jpg");

        .title { border-top: .5rem solid #1C225D; }
    }

    &.work {
        background-image: url("../assets/headers/work-header.jpg");

        .title { border-top: .5rem solid #F13030; }
    }

    &.aboutme {
        background-image: url("../assets/headers/aboutme-header.png");
        background-position: center center;

        .title { border-top: .5rem solid #EDE253; }
    }
}

.wrapper {
    padding: 2rem 3rem 0;
    margin: 0 auto;
    max-width: 1000px;
    line-height: 1.5rem;

    @media screen and (max-width: 767px) {
        padding: 1rem;
    }
}

.graphic-wrapper {
    padding-top: 4rem;
    max-width: 95%;
    margin: 0 auto;
}

.title {
    -webkit-animation: fadeIn 1.5s ease-in;
            animation: fadeIn 1.5s ease-in;
    
    padding-top: 1rem;
    letter-spacing: -2px;
}

.skills {
    p {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    span {
        font-weight: 600;
        line-height: 1rem;
        margin: 1rem 0;
        width: 25%;
    }

    @media screen and (max-width: 767px) {
        span {
            width: 33%;
        }
    }

    @media screen and (max-width: 450px) {
        span {
            width: 50%;
        }
    }
}

.work {
    &-item {
        padding: 2rem 3rem;
        margin: 0 auto;
        max-width: 1440px;
    }

    &-date { font-size: 1rem; }

    li {
        margin-left: 1.2rem;
        list-style-type: disc;
        line-height: 1.5rem;
        padding: 0rem 0 .5rem 0;

        > ul {
            padding: 10px 0 0 10px;

            li { list-style-type: circle; }
        }
    }

    p {
        line-height: 1.5rem;
    }

    h3 {
        margin-top: 0;
    }

    @media screen and (max-width: 767px) {
        &-item {
            padding: 1rem;
        }

        &-date { display: block; }
    }
}

.aboutme {
    &-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    img {
        max-width: 300px;
        max-height: 300px;
        width: 45%;
    }
}

/* ------------- Grid ------------- */
.grid {
    margin: 1rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-between;
    max-width: 1000px;
    padding: 0 3rem;
    width: 100%;

    > div {
        position: relative;
        width: 32%;
        margin-bottom: 15px;
        border: 1px solid #E5E5E5;
    }

    h3 {
        font-size: 1.7rem;
        width: 99%;
        margin: 1rem 0;
    }

    .project {
        max-height: 270px;
        
        &:hover {
            cursor: pointer;
        }

        > div {
            position: absolute;
            height: 100%;
            width: 100%;
            background: #222222;
            top: 0;
            opacity: .4;
        }

        img {
            background: #FFFFFF;
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
               object-fit: contain;
            -o-object-position: center;
               object-position: center;
        }
    }

    .mini-project {
        padding: 1rem;
        flex-grow: 1;

        h4  {
            text-align: center;
            margin: 0;
        }

        .summary {
            padding: 1.5rem 0 1rem;
            line-height: 1.3rem;
        }

        &__links {
            text-align: center;
            display: flex;

           a {
                border: 1px solid var(--main-link-color);
                border-radius: 3px;
                color: var(--main-link-color);
                display: inline-block;
                flex-grow: 1;
                font-weight: bold;
                margin-top: 1.5rem;
                padding: .5rem 1rem;
                text-decoration: none;

                &:hover {
                    background-color: var(--main-link-color);
                    color: white;
                }
            }

            .main {
                margin-right: 1rem;
            }
        }

        .tech-stack {
            display: flex;
            max-width: 300px;
            justify-content: space-between;
            width: 100%;
            margin: 0 auto;
        }
        
        img {
            width: calc(100%/5);
            object-fit: contain;
            max-height: 50px;
        }
    }

    @media screen and (min-width: 851px) {
        .mini-project:nth-of-type(even) {
            margin-left: 1rem;
        }
    }

    @media screen and (max-width: 850px) {
        .mini-project {
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    @media screen and (max-width: 767px) {
        padding: 0 1rem;

        > div {
            width: 48%;
        }
    }

    @media screen and (max-width: 550px) {
        .project {
            width: 100%;
        }
    }
}

/* ------------- Projects ------------- */
.overview-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 3rem;

    > section {
        width: 75%;
        padding-right: 2%;
        border-right: 1px solid #ddd;
    }

    aside {
        width: 20%;
    }

    @media screen and (max-width: 767px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0 1rem;

        > section,
        aside {
            width: 100%;
            border: 0;
        }
    }
}

.shadow {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.06), 0 3px 6px rgba(0,0,0,0.13);
    box-shadow: 0 3px 6px rgba(0,0,0,0.06), 0 3px 6px rgba(0,0,0,0.13);
}

.date {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem 0;
    width: 100%;
}

.project {
    &-header {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;
    }

    .photo {
        display: block;
        max-width: 500px;
        margin: 1rem auto 0 auto;
        width: 100%;

        img { width: 100%; }

        &-small {
            margin-top: 1rem;
            max-width: 300px;
            width: 100%;
        }

        &.left { margin-left: 0; }
    }

    &-choral { background-color: #222222;}
    &-speedy { background-color: #FFFFFF; }
    &-gemini,
    &-kolea,
    &-unforgettable { background-size: cover; }

    p {
        font-size: 1rem;
        line-height: 1.8rem;
    }
}

.photo-grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    > a {
        width: calc(33% - 10px);
    }
}

.body-content {
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    a {
        text-decoration: none;
        padding: 20px;
        width: 50%;
    }

    .tiny-text {
        color: #d1d1d1;
        text-transform: uppercase;
        font-size: .8em;
        font-weight: 500;
        margin-bottom: 5px;
    }

    img {
        width: 100%;
    }
}

.marvel {
    width: 100%;
    height: 600px;
}

@media screen and (min-width: 768px) {
    .dark nav a,
    .dark .fa { color: white; }
    .dark nav a:hover { border-bottom: 2px solid white; }
}

@media screen and (max-width: 767px) {
    .dark .fa-bars { color: white; }
}