:root {
	@font-face {
		font-family: myFirstFont;
		src: url(../fonts/CarneysGalleryDemoVersion.woff);
	}
}

body {
	background-color: #FFF;
	color: #DE3C4B;
}

h1 {
	font-family: "CarneysGalleryDemoVersion", Arial, Helvetica, sans-serif;
	line-height: 3rem;
	font-size: 2rem;
	text-align: center;
	margin: 2rem 0 0 0;
	letter-spacing: .05rem;
}

h2 {
	font-family: "CarneysGalleryDemoVersion", Arial, Helvetica, sans-serif;
	transform: rotate(-90deg);
	display: inline-block;
	position: absolute;
	left: 5rem;
	top: 30rem;
	font-size: 2rem;
}

.val-card {
	width: 95%;
	margin: 0 auto 10rem;
	max-width: 800px;
	text-align: center;

	img:first-of-type {
		position: relative;
    transform: rotate(-45deg);
    right: 3rem;
    top: 6rem;
	}

	img:nth-of-type(2) {
		position: relative;
    transform: rotate(-45deg);
    bottom: -40rem;
    right: -2rem;
	}

	img.memory {
		max-width: 500px;
	}
	
}