// Variables
$black: #191919;

:root {
	@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
}

body {
	background-color: $black;
	color: #FC2036;
	width: 100%;
}

h1 {
	font-family: "carneys_gallery_demo_versioRg", "Abril Fatface", Arial, Helvetica, sans-serif;
	line-height: 3rem;
	font-size: 2rem;
	text-align: center;
	margin: 2rem 0 0 0;
	letter-spacing: .05rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
}

h2 {
	font-family: "carneys_gallery_demo_versioRg", Arial, Helvetica, sans-serif;
	background-color: rgba(188,188,188,0.1);
	top: 20rem;
	font-size: 2rem;
	z-index: 5;
	display: block;
	position: sticky;
	top: 0;
	max-width: 400px;
	padding: 1rem 1.5rem;
}

.val-card {
	margin: 0 auto 10rem;
	max-width: 500px;
	overflow: visible;
	
	> div {
		text-align: center;
	}

	> img:first-of-type {
		position: relative;
	}

	> img:nth-of-type(2) {
		position: relative;
		transform: rotate(-45deg);
		width: 250px;
	}

	img.memory {
		max-width: 500px;
		width: 90%;
		border: 1rem solid white;
    border-bottom: 8rem solid white;
	}

	.caption {
		font-family: "impossible_regularregular", Arial, Helvetica, sans-serif;
		font-size: 2.5rem;
		line-height: 2rem;
    letter-spacing: 1px;
		font-weight: bold;
		bottom: 60px;
		padding-bottom: 10px;
		width: 80%;
	}

	.location {
		font-family: "carneys_gallery_demo_versioRg", Arial, Helvetica, sans-serif;
		color: $black;
	}
	
}

@media screen and (min-width: 501px) {
	.val-card {
		width: 100%;

		> img:first-of-type {
			transform: rotate(-45deg);
			width: 250px;
			right: 15%;
			bottom: -100px;
		}

		> img:nth-of-type(2) {
			right: -65%;
    	bottom: 140px;
		}

		.container > div {
			text-align: left;
			position: relative;
			bottom: 110px;
			left: 30px;
		}
	}
}

@media screen and (max-width: 500px) {
	h1 {
		font-size: 1.5rem;
		letter-spacing: none;
		line-height: normal;
	}

	.val-card {
		overflow: hidden;
		width: 90%;

		> img:first-of-type {
			transform: rotate(-45deg);
			width: 240px;
			right: 14%;
			bottom: -90px;
		}

		> img:nth-of-type(2) {
			right: -60%;
    	bottom: 165px;
		}

		.container > div {
			text-align: left;
			position: relative;
			bottom: 128px;
			left: 10px;
		}

		.caption {
			font-size: 2.2rem;
			width: 95%;
		}
	}
}